/*--------------------------------*/
/*------SECTION_FORM------*/
/*--------------------------------*/

.section-form {
  padding: 9.6rem 0rem 6.4rem 0rem;
}

.section-form .title-wrapper {
  padding: 2.4rem 4rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  margin-bottom: 9.6rem;
}

.form-page-title {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-style: italic;
  color: #570600;
}

.form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.form-wrapper {
  width: 50%;
  background-color: #fbf2e6;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  padding: 6.4rem 3.2rem;
}

.form-title {
  font-size: 2.3rem;
  padding-bottom: 4.4rem;
  letter-spacing: 0.7px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  border-radius: 0.8rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-wrapper label {
  font-size: 1.3rem;
  padding: 0.4rem 3.2rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: #b35b00;
  background-color: #fbf2e6;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border-radius: 0.8rem;
  position: absolute;
  top: -35%;
  transform: translate(1.6rem, 45%);
  width: fit-content;
}

.input-wrapper input,
.input-wrapper textarea {
  font-size: 1.6rem;
  border-radius: 0.4rem;
  padding: 2.4rem 2rem 1.6rem 2rem;
  border: none;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: all 0.1s;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

.input-wrapper input:focus {
  outline: none;
  border-bottom: 4px solid #b35b00;
}

.input-wrapper input[type="file"] {
  background-color: #fff;
  border: none;
}
