/******************************/
/********GENERAL-STYLING*******/
/******************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #160c00;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 9.6rem;
}

.section-title {
  font-size: 2rem;
  font-style: italic;
  color: #b35b00;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn {
  padding: 1.2rem 3.2rem;
  border: none;
  border-radius: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  background-color: #d97904;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #b35b00;
}

.dashboard-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-style: normal;
  color: #160c00;
  letter-spacing: 1.2px;
}

.display--none {
  display: none !important;
}

/******************************/
/*************NAVBAR***********/
/******************************/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar--home {
  position: absolute;
  background-color: transperent;
  padding: 5.6rem 4.8rem;
  top: 0;
  width: 100%;
}

.navbar--page {
  background-color: #fbf2e6;
  padding: 4rem 4.8rem;
}

header .navlink:link,
header .navlink:visited {
  font-size: 1.8rem;
  font-weight: 500;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-img-wrapper {
  align-self: center;
}

.logo-img {
  height: 5.6rem;
  border-radius: 1.2rem;
  object-fit: cover;
}

.navlink-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  text-decoration: none;
}

.navlink:link,
.navlink:visited {
  color: #570600;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  cursor: pointer;
  justify-self: center;
}

.navlink:hover,
.navlink:active {
  color: #d97904;
}

.btn--login {
  margin-left: auto;
}

.btn--menu {
  display: none;
  background-color: transparent;
  color: #b35b00;
  font-size: 3.6rem;
}

.btn--menu:hover {
  background-color: transparent;
  color: #d97904;
}

footer {
  padding: 6.4rem 2.4rem 2.4rem 2.4rem;
  background-color: #fbf2e6;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

footer .navlink-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}

footer .navlink:link,
footer .navlink:visited {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

footer .navlink:hover,
footer .navlink:active {
  color: rgba(87, 6, 0, 0.5);
}

footer .btn--login {
  background-color: transparent;
  color: #160c00;
  padding: 0rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.4rem;
}

footer .btn--login:hover {
  color: rgba(87, 6, 0, 0.5);
  background-color: transparent;
}

.copy {
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 1.6px;
  font-weight: 600;
  color: #b35b00;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.error-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  padding: 3.2rem 0 8rem 0;
}

.error-img-wrapper {
  width: 100%;
}

.error-img {
  width: 100%;
}

.error-title {
  font-size: 3.2rem;
  font-weight: 600;
  padding-bottom: 4rem;
  color: #b35b00;
  text-align: center;
}

.error-text {
  font-size: 1.8rem;
  line-height: 1.8;
  padding-bottom: 3.2rem;
}

.justify-content--center {
  justify-content: center !important;
}

.justify-content--space-between {
  justify-content: space-between !important;
}

.grid-row--span-2 {
  grid-row: span 2;
}

.align-self--strech {
  align-self: stretch;
}
