/*------------------------------*/
/*---------SECTION_NAVBAR-------*/
/*------------------------------*/

header {
  position: absolute;
  background-color: transperent;
  padding: 5.6rem 4.8rem;
  top: 0;
  width: 100%;

  /* background-color: #fbf2e6;
  padding: 3.2rem 4.8rem; */
}

header .navlink:link,
header .navlink:visited {
  font-size: 1.6rem;
  font-weight: 500;
}

.btn--admin-login {
  padding: 1.2rem 3.2rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.05px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #d97904;
  color: #fff;
}

.btn--admin-login:hover {
  background-color: #b35b00;
}

.btn--menu-btn {
  border: none;
  background-color: #fff;
  color: #d97904;
  font-size: 3.2rem;
  font-weight: 500;
  display: none;
  cursor: pointer;
}
