/*------------------------------*/
/*------SECTION_PROFILES---------*/
/*------------------------------*/

.section-profiles {
  padding: 9.6rem 0rem 9.6rem 0rem;
}

.section-profiles .title-wrapper {
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  border-radius: 1.2rem;
  padding: 3.2rem 4.8rem;
  margin-bottom: 6.4rem;
}

.btn--filter {
  padding: 1.2rem 4.8rem;
}

.profiles-title {
  font-size: 2.5rem;
}

.profiles-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  row-gap: 4.8rem;
  padding-bottom: 6.4rem;
}

.profile-card {
  border-radius: 1.2rem;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.profile-img-wrapper {
  width: 100%;
}

.profile-card-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-card-text-wrapper {
  padding: 3.2rem;
}

.profile-name {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 3.2rem;
}

.profile-card-detail-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 2.8rem;
}

.profile-card-detail-item {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.profile-card-detail-icon {
  font-size: 3.1rem;
  color: #b35b00;
}

.profile-card-detail-item:nth-child(2) .profile-card-detail-text {
  margin-left: -0.4rem;
}

.profile-card-detail-item:nth-child(3) .profile-card-detail-text {
  line-height: 1.5;
}

.btn--info {
  border-radius: 1.2rem;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  list-style: none;
}

.btn--pagination {
  font-size: 1.6rem;
  padding: 1.2rem 5.6rem;
}

.btn--pagination:hover {
  background-color: #fff;
  color: #160c00;
  outline: 0.2rem solid #d97904;
}
