/*------------------------------------*/
/*-----------MEDIUM-LAPTOP------------*/
/*------------------------------------*/
@media (max-width: 1430px) {
  html {
    font-size: 56.3%;
  }
}

/*------------------------------------*/
/*------------SMALL-LAPTOP------------*/
/*------------------------------------*/

@media (max-width: 1260px) {
  /* html {
    font-size: 50%;
  } */
}

/*------------------------------------*/
/*------------SMALL-LAPTOP------------*/
/*------------------------------------*/

/* @media (max-width: 1150px) {
  html {
    font-size: 44%;
  }
} */
